h1,
h2,
h3,
h4 {
  color: darkslategray;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: floralwhite;
}

p,
a,
button,
input {
  font-family: "Nunito", sans-serif;
  color: darkslategrey;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.jumbotron {
  background-color: transparent;
}

.start input {
  width: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid deepskyblue;
  
}

.save-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-heading {
  text-align: center;
  background-color: lightgray;
}

.history-card {
  width: 50%;
  margin: auto;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20%;
}

.start button {
  width: 30%;
}

.card-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.card-body-detail {
  display: flex;
  justify-content: space-evenly;
}

.main-weather {
  display: flex;
  justify-content: space-evenly;
}

.carousel-indicators li {
  background-color: deepskyblue;
}

.weather-card {
  min-height: 275px;
}

button {
  border-radius: 15px;
}

.btn-primary {
  background-color: deepskyblue;
  border-color: deepskyblue;
}

.btn-primary:hover {
  background-color: rgb(0, 38, 255);
}

.btn-secondary {
  background-color: tomato;
  border-color: tomato;
}

.btn-secondary:hover {
  background-color: rgb(185 0 0);
}

.spinner {
  opacity: 0.5;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#weatherHistory {
  margin-top: 2%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: deepskyblue;
}

/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif; */
