h1,h2,h3, h4 {
    color: darkslategray;
    font-family: 'Poppins', sans-serif;
}

p, a, button, input {
    font-family: 'Nunito', sans-serif;
    color: darkslategrey;
}

.card-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.card-body-detail {
    display: flex;
    justify-content: space-evenly;
}

.main-weather {
    display: flex;
    justify-content: space-evenly;
}

.carousel-indicators li {
    background-color: deepskyblue;
}

.weather-card {
    min-height:275px;
}

.spinner {
    opacity:    0.5; 
    background: #000; 
    width:      100%;
    height:     100%; 
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed; 
    display: flex;
    justify-content: center;
    align-items: center;    
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: deepskyblue;
} 

/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif; */