{% extends 'base_layout.html'%}
{% block content%}
        <div class="row">
            <div class="col-6">
                <div class="head">
                    <h1>Weather App</h1>
                    <div class="start">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="cityName" placeholder="Enter a city to get started...">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" id="citySubmit">Submit</button>
                            </div>
                          </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row panel">
            <div class="col-12">
                <p>Enter a city name to get weather forecasts</p>
            </div>
            
        </div>
{%endblock%}
</html>