{% extends 'base_layout.html'%}
{% block content%}
        <div class="row">
            <div class="col-6">
                <div class="head">
                    <h1>Weather App</h1>
                    <div class="start">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="address" placeholder="Enter an address to get started...">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" id="addressSubmit">Submit</button>
                            </div>
                          </div>
                    </div>

                </div>
            </div>

        </div>
        <div style="display:none;" id ="weather" class="row">
            <div class="col">
                <div   class="card weather-card">
                    <div class="card-title m-3">
                        <h1>Today's forecast</h1>
                        <small id ="location"></small>
                        <h3 id = "dayTime"></h3>
                    </div>
                    <div class="card-body">
                        <h1 id="temp"></h1>
                        <img src="http://openweathermap.org/img/w/04d.png" alt="">
                    </div>
                    <div class="card-body-detail">
                        <p id="windSpeed">Wind speed</p>
                        <p id="humidity">Humidity</p>
                    </div>
                    <hr>
    
                </div>
            </div>
            <div class="col">
                <div class="card weather-card">
                    <div class="card-title">
                        <p>Saturday, 20:39PM</p>
                        <p>Scattered clouds</p>
                    </div>
                    <div class="card-body">
                        <h1>20°C</h1>
                        <img src="http://openweathermap.org/img/w/04d.png" alt="">
                    </div>
                    <div class="card-body-detail">
                        <p>11km/h winds</p>
                        <p>83% humidity</p>
                    </div>
                    <hr>
    
                </div>
            </div>

            
        </div>
{%endblock%}
</html>